/* CSS variables */
:root {
    --dark: #445877;
    --light: #92CCCE;
}

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* Body */
body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark);
    background-color: a#EEEEF7;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}

header h1 {
    font-size: 5em;
    background-color: var(--light);
    margin: 0.3em 0;
    padding-left: 1em;
    padding-right: 0.3em;
}

header nav {
    margin: 1em 4em 1em;
}

header nav ul {
    display: flex;
    justify-content: end;
}

header nav ul li {
    padding: 1em;
}

header nav ul li a {
    font-size: 2.5em;
    color: var(--light);
    text-decoration: none;
    border-bottom: #92CCCE solid 0.1em;
    padding: 0.1em 0.3em;
}

/* banner */
#banner {
    width: 100%;
    height: 15em;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1em;
}

#subtitle {
    font-size: 3.5em;
    columns: var(--dark);
    background-color: var(--light);
    width: fit-content;
    align-self: safe;
    margin: 1em 3em;
    padding: 0.3em;
}

/* Content */
.content {
    display: flex;
    margin: 2em;

}

.content h3 {
    font-size: 4em;
    text-align: right;
    width: 20%;
    border-right: var(--dark) solid 0.1em;
    padding: 0.5em;
}

.content article {
    margin: 0 1.5em;
    display: flex;
    width: 80%;
}

#avatar {
    border-radius: 50%;
    width: 25em;
    height: 25em;
    align-self: center;
}

.content p {
    font-size: 2em;
    line-height: 1.5;
    padding: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.card {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.project-top {
    width: 100%;
    display: inline-block;
}

.project-top img {
    width: 95%;
    height: 95%;
    margin: 2.5%;

}

.float-left {
    width: 90%;
    height: 90%;
    margin: 5%;
}

.float-right {
    width: 90%;
    height: 90%;
    margin: 5%;
}

.card-title {
    background-color: var(--light);
    color: var(--dark);
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.card-title h4 {
    font-size: 3.5em;
    padding: 0.3em;
}

.card-title p {
    font-size: 2em;
    padding: 0.1em;
}

/* Media Query */
@media screen and (max-width: 992px) {
    header, 
    ul {
        flex-direction: column;
    }
    #avatar,
    h3 {
        display: none;
    }
    article {
        width: 100%;
    }
}