/* CSS variables */
:root {
    --dark: #445877;
    --light: #92CCCE;
}

html {
    scroll-behavior: smooth;
  }

/* Body */
body {
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark);
    background-color: #EEEEF7;
}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--dark);
}

header h1 {
    font-size: 3rem;
    background-color: var(--light);
    margin: 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

header nav {
    margin: 1rem 4rem 0.5rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0.8rem;
}

header nav ul li a {
    font-size: 2rem;
    color: var(--light);
    text-decoration: none;
    border-bottom: var(--light) solid 0.2rem;
    padding: 0.1rem 0.3rem;
}

/* banner */
#banner {
    width: 100%;
    height: 7rem;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}

#subtitle {
    font-size: 2rem;
    columns: var(--dark);
    background-color: var(--light);
    padding: 0.4rem;
    margin: 0 1.5rem 0.5rem;
}

/* main content */
main {
    display: flex;
    flex-direction: column;
}

.content {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
}

.content h3 {
    font-size: 3rem;
    text-align: right;
    width: 14%;
    border-right: var(--dark) solid 0.3rem;
    padding-right: 1rem;
}

h3 + * {
    width: 84%;
    margin-left: 2%;
}   

/* about-me */
#about-me article {
    display: flex;
}

#avatar {
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    align-self: center;
}

.content p {
    font-size: 1.6rem;
    padding: 1.5rem;
}

/* work */
.cards {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 1rem;
}

.card {
    border: 0.3rem solid var(--light);
    background-size: cover;
}

.card:hover {
    transform: scale(0.95);
}

.names {
    display: inline-block;
    position: relative;
    top: 30%;
    height: 40%;
    padding-right: 0.3rem;
    background-color: var(--light);
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

.top {
    grid-column: 1 / span 2;
    background-image: url(../images/top.png);
    min-height: 50vh;
}

.top .names {
    top: 70%;
    height: 20%;
}

.left-1 {
    background-image: url(../images/left-1.png);
}

.right-1 {
    background-image: url(../images/right-1.png);
}

.left-2 {
    background-image: url(../images/left-2.jpg);
}

.right-2 {
    background-image: url(../images/right-2.jpg);
}

/* contact-me */
.contact-info {
    display: flex;
    align-items: center;
}

.contact-info ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#contact-me div ul li a {
    font-size: 2rem;
    color: var(--dark);
    text-decoration: none;
    border-bottom: var(--dark) solid 0.2rem;
    padding: 0.3rem 0.3rem;
}

/* Media Query */
@media screen and (max-width: 992px) {
    body {
        line-height: 1.3;
    }

    /* main content */
    .content {
        margin: 1rem auto;
    }

    .content h3 {
        font-size: 2rem;
        padding-right: 0.5rem;
    }

    #contact-me div ul li a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        line-height: 1.2;
    }

    /* main content */
    .content {
        margin: 0.5rem auto;
        flex-direction: column;
    }

    .content h3 {
        text-align: left;
        width: 100%;
        border-bottom: var(--dark) solid 0.3rem;
        border-right: none;
        margin-bottom: 1rem;
    }

    .hidden {
        display: none;
    }

    h3 + * {
        width: 100%;
        margin-left: 0;
    }  

    .top {
        min-height: 35vh;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 576px) {
    header nav ul {
        flex-direction: column;
    }

    #about-me article {
        flex-direction: column;
    }

    #contact-me div ul li a {
        font-size: 1.25rem;
    }
}